

body{
  background-color: #222;
}

.main_container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
  padding-bottom: 50px;
}
#header{
  margin-top: 50px;
  height: 100px;


}

#header h2{
  font-size: 100px;
  font-family: 'Nanum Pen Script', cursive;
  color: pink;
  text-align: center;
}
#header p{
  padding: 5px 100px;
  font-size: 43px;
  font-family: 'Nanum Pen Script', cursive;
  color: grey;
  text-align: center;
  line-height: 30px;
}
.icons_container{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 400px;
  width: 260px;
  background-color: #333;
  border-radius: 100px;
  margin: 30px;
  margin-top: 50px;
  box-shadow: 5px 10px 8px #222222b5;
  text-align: center;
}

.container p{
  margin-top: -10px;
  padding: 10px 20px 0px 20px;
  color: #645C5C;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
}

.container:hover{
  transform: translateY(-10px);
  box-shadow: 5px 10px 8px #1f1d1d;;
}
.img-wrapper{
  padding: 10px 15px;
}

.footer{
  margin-top: 150px;
  height: 100px;
  background-color: pink;

}
